{#
  Renders a list of resources with icons and view links.

  resources - A list of resources (dicts) to render
  pkg - A package dict that the resources belong to.

  Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

  #}

<section id="dataset-resources" class="resources">
  {% if (resource_pagination and resource_pagination.page_count > 1) or resource_query %}
    <form class="dataset-resource-search mb-3" method="get"
      action="{{ h.url_for('dataset.read', id=pkg.name) }}">
      <label class="visually-hidden" for="dataset-resource-query">{{ _('Search resources...') }}</label>
      <div class="input-group">
        <input id="dataset-resource-query" class="form-control" type="search"
          name="resource_q" value="{{ resource_query }}"
          placeholder="{{ _('Use this field to search resources in this dataset...') }}"
          data-responsive-placeholder
          data-placeholder-desktop="{{ _('Use this field to search resources in this dataset...') }}"
          data-placeholder-mobile="{{ _('Search resource...') }}">
        <button class="btn btn-primary dataset-resource-action" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
          {{ _('Search') }}
        </button>
        {% if resource_query %}
          <a class="btn btn-light" href="{{ h.url_for('dataset.read', id=pkg.name) }}">
            <i class="fa fa-times" aria-hidden="true"></i>
            {{ _('Clear') }}
          </a>
        {% endif %}
      </div>
    </form>
    {% if resource_filtered_total %}
      <p class="dataset-resource-search-summary">
        {% snippet 'snippets/search_result_text.html', query=resource_query, count=resource_filtered_total, type='resource' %}
      </p>
    {% endif %}
  {% endif %}
  {% block resource_list %}
    {% if resources %}
      <ul class="{% block resource_list_class %}resource-list{% endblock %}">
        {% block resource_list_inner %}
          {% set can_edit = can_edit or h.check_access('package_update', {'id':pkg.id }) %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
      {% block resource_list_empty %}
        {% if resource_query %}
          <p class="empty">{{ _('No resources found for "{query}"').format(query=resource_query) }}</p>
        {% elif h.check_access('resource_create', {'package_id': pkg['id']}) %}
          {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
          <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
          {% endtrans %}
        {% else %}
          <p class="empty">{{ _('This dataset has no data') }}</p>
        {% endif %}
      {% endblock %}
    {% endif %}
  {% endblock %}
  {% if resource_pagination %}
    {{ resource_pagination.pager() }}
  {% endif %}
</section>
