{% extends "static/base.html" %}

{% set page_title = _('Privacy Policy') %}

{% block page_content %}
  <p>{{ _('This Privacy Policy describes how your personal information is collected, used, and shared when you visit the ARTESP Data Portal.') }}</p>
  
  <h2>{{ _('1. Information We Collect') }}</h2>
  <p>{{ _('When you visit the portal, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.') }}</p>
  
  <p>{{ _('Additionally, as you browse the portal, we collect information about the individual web pages that you view, what websites or search terms referred you to the portal, and information about how you interact with the portal.') }}</p>
  
  <h2>{{ _('2. How We Use Your Information') }}</h2>
  <p>{{ _('We use the information we collect to:') }}</p>
  <ul>
    <li>{{ _('Improve and optimize our portal (for example, by generating analytics about how our users browse and interact with the portal)') }}</li>
    <li>{{ _('Assess the success of our marketing and outreach campaigns') }}</li>
    <li>{{ _('Monitor and prevent any security issues') }}</li>
  </ul>
  
  <h2>{{ _('3. Sharing Your Information') }}</h2>
  <p>{{ _('We share your information with third parties to help us use your information, as described above. For example, we use Google Analytics to help us understand how our users use the portal. You can read more about how Google uses your information here: https://policies.google.com/privacy.') }}</p>
  
  <h2>{{ _('4. Your Rights') }}</h2>
  <p>{{ _('If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us.') }}</p>
  
  <h2>{{ _('5. Data Retention') }}</h2>
  <p>{{ _('When you use our portal, we will maintain your information for our records unless and until you ask us to delete this information.') }}</p>
  
  <h2>{{ _('6. Changes') }}</h2>
  <p>{{ _('We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.') }}</p>
  
  <h2>{{ _('7. Contact Us') }}</h2>
  <p>{{ _('For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail or by mail using the details provided on the Contact page.') }}</p>
  
  <p>{{ _('Last updated: January 2024') }}</p>
{% endblock %}
