/* ==========================================================================
   ARTESP Theme - Dataset Creation Workflow Stages
   Contains styling for the dataset creation workflow stages
   ========================================================================== */

.stages li.active .highlight {
  background-color: var(--secondary) !important;
  color: white !important;
  border-color: var(--secondary) !important;
}

.stages li.complete .highlight,
.stages li.complete .highlight[type="submit"] {
  background-color: var(--tw-blue-100) !important;
  color: var(--secondary) !important;
  border-color: var(--tw-blue-100) !important;
}

.stages li.active:after,
.stages li.complete:after {
  content: none !important;
  border: 0 !important;
}

.stages li.active:before {
  color: var(--secondary) !important;
  background-color: white !important;
}

.stages li.complete:before {
  color: white !important;
  background-color: var(--secondary) !important;
}
