{% extends "package/base.html" %}

{% set default_group_type = h.default_group_type('group') %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  <meta property="og:type" content="dataset">
  <meta property="og:url" content="{{ h.seo_canonical_url() }}">
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ h.seo_meta_description(pkg_dict=pkg)|e }}">
  <meta property="og:image" content="{{ h.url_for_static('/logo-artesp-opt.png', qualified=true) }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ h.dataset_display_name(pkg) }}">
  <meta name="twitter:description" content="{{ h.seo_meta_description(pkg_dict=pkg)|e }}">
  <script type="application/ld+json">{{ h.seo_jsonld_dataset(pkg)|tojson(indent=2) }}</script>
{% endblock -%}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-light', icon='wrench' %}
  {% endif %}
  {% if h.check_config_permission('allow_dataset_collaborators') and h.check_access('package_collaborator_list', {'id': pkg.id}) %}
    {% link_for _('Collaborators'), named_route=pkg.type ~ '.collaborators_read', id=pkg.name, class_='btn btn-light', icon='users' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'),  id=pkg.name, icon='sitemap') }}
  {{ h.build_nav_icon(dataset_type ~ '.groups', h.humanize_entity_type('group', default_group_type, 'content tab') or _('Groups'), id=pkg.name, icon='users') }}
  {% if h.check_config_permission('allow_dataset_collaborators') and h.check_access('package_collaborator_list', {'id': pkg.id}) %}
    {{ h.build_nav_icon(dataset_type ~ '.collaborators_read', _('Collaborators'), id=pkg.name, icon='users') }}
  {% endif %}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg, am_following=am_following %}
  {% endblock %}

  {% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.id) %}
      {% snippet "organization/snippets/info.html", organization=org, show_nums=false, am_following=am_following %}
    {% endif %}
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
