{% set groups = h.get_featured_groups() %}

<div class="featured-groups-section">
  <h3 class="section-title"><i class="fa fa-object-group"></i> {{ _('Featured Groups') }}</h3>
  <div class="featured-groups-container">
    {% for group in groups %}
      <div class="featured-group-card">
        <div class="featured-group-image">
          <a href="{{ h.url_for(group.type ~ '.read', id=group.name) }}">
            <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" class="img-fluid">
          </a>
        </div>
        <div class="featured-group-content">
          <h4 class="featured-group-title">
            <a href="{{ h.url_for(group.type ~ '.read', id=group.name) }}">{{ group.title or group.name }}</a>
          </h4>
          {% if group.description %}
            <p class="featured-group-description">{{ h.markdown_extract(group.description, 100) }}</p>
          {% endif %}
          <div class="featured-group-meta">
            <span class="dataset-count">
              <i class="fa fa-database"></i>
              {% if group.package_count %}
                {{ _('{num} Datasets').format(num=group.package_count) }}
              {% else %}
                {{ _('0 Datasets') }}
              {% endif %}
            </span>
          </div>
          <a href="{{ h.url_for(group.type ~ '.read', id=group.name) }}" class="btn btn-view">
            <i class="fa fa-eye"></i> {{ _('View Group') }}
          </a>
        </div>
      </div>
    {% else %}
      <div class="featured-group-empty">
        <i class="fa fa-info-circle"></i> {{ _('No featured groups available') }}
      </div>
    {% endfor %}
  </div>
</div>
