{% set current_lang = request.environ.CKAN_LANG %}
{% set current_url = request.environ.CKAN_CURRENT_URL %}

<div class="language-selector">
  <form class="form-inline form-select lang-select" action="{% url_for 'util.internal_redirect' %}" method="POST" id="language-form">
    {{ h.csrf_input() }}
    <div class="lang-select-inner">
      <select id="field-lang-select" name="url" class="form-control" aria-label="{{ _('Language') }}" onchange="document.getElementById('language-form').submit();">
        {% for locale in ['pt_BR', 'en'] %}
          {% set locale_display = 'Português (Brasil)' if locale == 'pt_BR' else 'English' %}
          <option value="{% url_for current_url, locale=locale %}" {% if locale == current_lang %}selected="selected"{% endif %}>
            {{ locale_display }}
          </option>
        {% endfor %}
      </select>
      <noscript>
        <button class="btn btn-sm" type="submit">{{ _('Go') }}</button>
      </noscript>
    </div>
  </form>
</div>
