{% extends "static/base.html" %}

{% set page_title = _('Contact Us') %}

{% block page_content %}
  <p>{{ _('We value your feedback and are here to help with any questions or concerns you may have about the ARTESP Data Portal.') }}</p>

  <div class="row">
    <div class="col-md-6">
      <div class="contact-info">
        <h2>{{ _('Contact Information') }}</h2>
        <p><strong>{{ _('Address:') }}</strong> Rua Iguatemi, 105 - Itaim Bibi, São Paulo - SP, 01451-011</p>
        <p><strong>{{ _('Phone:') }}</strong> (11) 3465-2000</p>
        <p><strong>{{ _('Email:') }}</strong> <a href="mailto:dadosabertos@artesp.sp.gov.br">dadosabertos@artesp.sp.gov.br</a></p>
        <p><strong>{{ _('Hours:') }}</strong> {{ _('Monday to Friday, 9:00 AM to 6:00 PM') }}</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="contact-map">
        <h2>{{ _('Location') }}</h2>
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8649173472395!2d-46.68211492392006!3d-23.57929447882275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59e7818655e1%3A0x7f01e61a904d9538!2sARTESP%20-%20Ag%C3%AAncia%20Reguladora%20de%20Servi%C3%A7os%20P%C3%BAblicos%20Delegados%20de%20Transporte%20do%20Estado%20de%20S%C3%A3o%20Paulo!5e0!3m2!1sen!2sbr!4v1706553271961!5m2!1sen!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
